<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dev4free.devbuy.mapper.ItemsMapper">

<insert id="insertItems" parameterType="Items">

INSERT INTO items(items_id,itemsname,description,category,items_lb,price,image,inventory,sales_volume,area) 
VALUES (#{items_id},#{itemsname},#{description},#{category},#{items_lb},#{price},#{image},#{inventory},#{sales_volume},#{area});

</insert>

</mapper>